@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
}

.box {
  position: relative;
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.box h1 {
  color: rgb(226, 226, 226);
  font-size: 11em;
  text-shadow: 2px 2px black;
  z-index: 2;
}

.box h2 {
  color: rgb(226, 226, 226);
  font-size: 2em;
  text-shadow: 2px 2px black;
  z-index: 2;
}

.box::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 160%;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 4s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  background-color: #0e1538;
  inset: 5px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.made-with {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: #858585;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.made-with .heart {
  color: rgb(224, 0, 0);
  text-shadow: 0 0 3px red;
}

.made-with .my-name {
  color: #00ccff;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.275), 0 0 2px rgba(0, 0, 0, 0.275);
}

.line {
  width: 270px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-bottom-right-radius: 100px;
  z-index: 2;
}

.line-1 {
  border: 1px solid #00ccff;
  border-left: none;
  border-top: none;
}

.line-2 {
  left: 175px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 100px;
  border: 1px solid #d500f9;
  border-right: none;
  border-top: none;
}

.dot {
  position: absolute;
  border-radius: 50px;
  z-index: 2;
}

.dot-1 {
  width: 30px;
  height: 30px;
  top: 6px;
  border: 1px solid #00ccff;
}

.dot-2 {
  width: 20px;
  height: 20px;
  top: 36px;
  border: 1px solid #fff;
}

.dot-3 {
  width: 15px;
  height: 15px;
  top: 56px;
  border: 1px solid #d500f9;
}
